<div class="container mx-auto mt-24">
    <div class="flex items-center justify-between">
        <div class="w-6/12 flex-wrap justify-center">
            <p class="text-6xl font-bold">Transparency, Convinience, Complience for B2B, B2C & C2C</p>
            <p class="text-lg font-medium mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae beatae officiis autem dolorum odio voluptatum voluptates id dolores inventore, sequi aliquid alias unde! Mollitia, praesentium voluptas? Veritatis fugit sint tenetur.</p>
            <button class="btn btn-primary flex justify-between mt-4 mb-4 normal-case">
                <span class="font-bold text-lg mx-6"> Join us now!</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    id="footer-sample-full"
                    width="1.5em"
                    height="1.5em"
                    preserveAspectRatio="xMidYMid
                    meet"
                    viewBox="0 0 24 24"
                    class="iconify iconify--akar-icons"
                >
                    <g fill="none">
                        <path d="M4 12h16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M13 5l7 7l-7
                            7"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </g>
                </svg>
            </button>
        </div>
        <div class="w-6/12 flex justify-center">
            <img src="assets/herro/herro.svg" alt="" />
        </div>
    </div>
</div>
